body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url('../assets/images/Frame5.png') no-repeat center center/cover;
}

#top-section {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-section {
    height: 55vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user_content {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 20px;
    right: 80px;
    background: rgba(230, 227, 227, 0.793);
    padding: 10px 20px;
    border-radius: 8px;
}

.user_content h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(101, 54, 54);
}

#heart1, #heart2, #heart3 {
    width: 40px;
    height: 40px;
    gap: 20px;
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: rgb(16, 15, 15);
}

.function_part {
    position: relative;
    top: 38%;
    right: 14%;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    color: #f5c403;
}

.puzzle-container {
    position: relative;
    display: flex;
    justify-content: center;
    left: 8%;
    bottom: 10%;
}

#puzzleImage {
    max-width: 430px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.image-overlay {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 200px;
    height: 30px;
    background: white;
}

#answerInput {
    width: 150px;
    font-size: 20px;
    padding: 5px;
    background-color: #ffffff;
}

.gameButton {
    font-size: 16px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #facc15;
}

.feedback_part {
    position: absolute;
    right: 25%;
}

#feedback {
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}

#monkey {
    position: absolute;
    bottom: 125px;
    left: 40px;
    width: 150px;
    transition: transform 0.5s ease-in-out;
}

#treasure {
    position: absolute;
    bottom: 160px;
    right: 20px;
    width: 100px;
    height: auto;
}

.rock {
    position: absolute;
    bottom: 55px;
    width: 220px;
    height: 150px;
}

#fish1, #fish2 {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
}

@keyframes swimLeftToRight {
    from { left: -8%; }
    to { left: 100%; }
}

@keyframes swimRightToLeft {
    from { right: -8%; }
    to { right: 100%; }
}