@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');

.full-screen-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/Background_2.png');
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
}

.menu-btn {
    font-size: 1.8rem;
    padding: 8px 16px;
    color: #222;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 240px;
}

.menu-btn:hover {
    background: #f6c12195;
    transform: scale(1.1);
}
