body {
    font-family: 'Paprika', sans-serif;
}

.full-screen-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/Background_2.png');
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
    margin-right: 90px;
}

.menu-btn {
    font-size: 19px;
    width: 150%;
    height: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Paprika', sans-serif;
    cursor: pointer;
    border: 3px solid #ffcc0000;
    border-radius: 8px;
    background-color: #ffcc0000;
    color: #0d0801;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px #181000;
    transition: all 0.2s ease-in-out;
}

.menu-btn:hover {
    background: #f6c121d2;
    transform: scale(1.1);
}
