body {
    font-family: 'Paprika', sans-serif;
}

.profile-container {
    background-image: url('../assets/images/Background_5.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-card {
    background: rgba(255, 255, 255, 0.721);
    padding: 60px;
    border: 5px solid #654321;
    border-radius: 12px;
    text-align: center;
    width: 540px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
    margin-bottom: 340px;
}

.username {
    font-family: 'Paprika', sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

.score-container {
    margin-top: 10px;
}

.score-container p {
    font-family: 'Paprika', sans-serif;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    line-height: 35px;
}

.leader_btn {
    font-size: 18px;
    width: 60%;
    height: 50px;
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Paprika', sans-serif;
    cursor: pointer;
    border: 3px solid #ffcc00;
    border-radius: 8px;
    background-color: #ffcc00;
    color: #4a2900;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px #c27c00;
    transition: all 0.2s ease-in-out;
}

.leader_btn:hover {
    background-color: #ffd633;
    transform: scale(1.05);
}

.back-btn {
    font-family: 'Paprika', sans-serif;
    position: absolute;
    bottom: 168px;
    left: 130px;
    background-color: #ff583300;
    color: rgb(22, 22, 22);
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.back-btn:hover {
    transform: scale(1.3);
}